/*
Project_Main CSS
*/

.atag2 {
    text-decoration: none;
    color: black;
}

.atag2:hover {
    text-decoration: none;
}

.atag3 {
    font-size: 0.75rem;
    display: block;
    color: #0096cc;
    margin-bottom: 20px;
}

.div1 {
    float: left;
    box-sizing: border-box;
}

.div2 {
    float: left;
    box-sizing: border-box;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.pad3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 500px) {
    .div1 {
        text-align: center;
    }
    .div2 {
        padding-top : 20px;
        padding-right: 0;
    }
}