body {
    font-family: 'merriweather,serif';
}

.mb2 {
    margin-bottom: 1rem;
    font-family: open sans,sans-serif !important;
}

h3, .h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.p3 {
    padding: 2rem;
}