body {
    font-family: 'merriweather,serif';
}

.mb2 {
    margin-bottom: 1rem;
    font-family: open sans,sans-serif !important;
}

h3, .h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.p1 {
    font-family: 'Open Sans', sans-serif;
}

.p3 {
    padding: 2rem;
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.a1 {
    color: #111;
    width: 120px;
}

.i1 {
    width: 1.28571429em;
    padding-right: 0.3rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    font-size: 2em;
}

.ul1 {
    list-style: none;
    padding-left: 0;
    font-weight: 550;
}

.navActive{
    font-weight: bolder;
}

/*
Project_Main CSS
*/
.div1 {
    float: left;
    box-sizing: border-box;
}

.div2 {
    float: left;
    box-sizing: border-box;
}

.atag2 {
    text-decoration: none;
    color: black;
}

.atag2:hover {
    text-decoration: none;
}

.atag3 {
    font-size: 0.75rem;
    display: block;
    color: #0096cc;
}

@media (min-width: 320px) and (max-width: 480px) {
    .div1 {
        text-align: center;
    }
    .div2 {
        padding-right: 0;
    }
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.pad3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
@media (min-width: 320px) and (max-width: 480px) {
    .li1 {
        display: inline;
        padding-right: 3rem;
    }
}
*/